<template>
    <lightning-modal-header label="Opportunity"></lightning-modal-header>
    <lightning-modal-body>

        <lightning-combobox class="slds-p-around_medium lgc-bg" name="stage" label="Stage" value={selectedStage}  options={optionsStage} onchange={getValue}></lightning-combobox>
        <lightning-button type="submit" class="slds-var-m-left_x-small" variant="brand" label="Save" onclick={handleSuccess}></lightning-button>
        <lightning-button class="slds-var-m-left_x-small" vraiant="brand" label="Cancel" onclick={handleOkay}></lightning-button> 
 
    </lightning-modal-body>
</template>