<template>
    <lightning-card>
        <lightning-combobox class="slds-p-around_medium lgc-bg" name="documentType" label="Stage" value={selectedStage}  options={optionsStage} onchange={filterByStage} ></lightning-combobox>
    
        <div class="slds-grid slds-wrap slds-p-around_medium lgc-bg">
            <template for:each={allOpportunities} for:item="opp">
                <div key={opp} class="slds-col slds-size_1-of-3 slds-p-around_medium lgc-bg">
                    <template if:true={opp.showRed}>
                        <div style="background-color:pink; padding:20px" data-id={opp.Id}>
                            <p ><strong>Opportunity Name : </strong><span>{opp.Name}</span></p>
                            <p><strong>Stage : </strong><span>{opp.StageName}</span></p>
                            <p><strong>Probability : </strong><span>{opp.Probability}</span></p>
                            <p><strong>Amount : </strong><span>{opp.Amount}</span></p>
                            <p><lightning-button data-id={opp.Id} variant="brand" label="View" title="Primary action" onclick={viewDetail} class="slds-m-left_x-small"></lightning-button>
                            <lightning-button data-id={opp.Id} variant="brand" label="Delete" title="Primary action" onclick={deleteRecord} class="slds-m-left_x-small"></lightning-button></p>
                            <template if:false={opp.IsClosed}>
                                <p><lightning-button data-id={opp.Id} variant="brand" label="Close Opportunity" title="Primary action" onclick={closePopUp} class="slds-m-left_x-small"></lightning-button></p>
                            </template>
                        </div>
                    </template>
                    
                    <template if:true={opp.showGreen}>
                        <div style="background-color:lightgreen; padding:20px" data-id={opp.Id}>
                            <p><strong>Opportunity Name : </strong><span>{opp.Name}</span></p>
                            <p><strong>Stage : </strong><span>{opp.StageName}</span></p>
                            <p><strong>Probability : </strong><span>{opp.Probability}</span></p>
                            <p><strong>Amount : </strong><span>{opp.Amount}</span></p>
                            <p><lightning-button data-id={opp.Id} variant="brand" label="View" title="Primary action" onclick={viewDetail} class="slds-m-left_x-small"></lightning-button>
                            <lightning-button data-id={opp.Id} variant="brand" label="Delete" title="Primary action" onclick={deleteRecord} class="slds-m-left_x-small"></lightning-button></p>
                            <template if:false={opp.IsClosed}>
                                <p><lightning-button data-id={opp.Id} variant="brand" label="Close Opportunity" title="Primary action" onclick={closePopUp} class="slds-m-left_x-small"></lightning-button></p>
                            </template>
                        </div>
                    </template>
                    <template if:true={opp.showBlue}>
                        <div style="background-color:skyblue; padding:20px" data-id={opp.Id}>
                            <p><strong>Opportunity Name : </strong><span>{opp.Name}</span></p>
                            <p><strong>Stage : </strong><span>{opp.StageName}</span></p>
                            <p><strong>Probability : </strong><span>{opp.Probability}</span></p>
                            <p><strong>Amount : </strong><span>{opp.Amount}</span></p>
                            <p><lightning-button data-id={opp.Id} variant="brand" label="View" title="Primary action" onclick={viewDetail} class="slds-m-left_x-small"></lightning-button>
                            <lightning-button data-id={opp.Id} variant="brand" label="Delete" title="Primary action" onclick={deleteRecord} class="slds-m-left_x-small"></lightning-button></p>
                            <template if:false={opp.IsClosed}>
                                <p style="margin-top:10px"><lightning-button data-id={opp.Id} variant="brand" label="Close Opportunity" title="Primary action" onclick={closePopUp} class="slds-m-left_x-small"></lightning-button></p>
                            </template>
                        </div>
                    </template>
                </div>
            </template>
        </div>
    </lightning-card>
</template>